.badge.qty-indicator {
    position: absolute;
    right: -2px;
    background-color: #ffc414;
}

.logo {
    cursor: pointer;
    max-height: 40px;

    &:focus {
        outline: none;
    }
}

.dropdown-toggle,
.dropdown-menu {
    cursor: pointer;
    text-decoration: none;
}
